.all-detail{
    background-color: rgb(66, 65, 65);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#flag-detail{
    height: 150px;
    width: 300px;
    position: relative;
    left: 25%;
}

#div-detail{
    background-color: rgba(240, 248, 255, 0.486);
    width: 600px;
    position: relative;
    left: 30%;
    border-radius: 20px;
}

.aling-detail{
    text-align: center;
}

.div-activity{
    background-color: rgba(240, 248, 255, 0.486);
    display: inline-block;
    justify-content: space-between;
    margin: 100px;
    border-radius: 10px;
    position: relative;
    bottom: 13%;
}

#back-detail{
    position: absolute;
    bottom: 80%;
    left: 20%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0ch;
    color: white;   
}

@media screen and (max-width: 480px){
    #div-detail{
        width: 80%;
        position: relative;
        left: 10%;
        bottom: -2%;
    }
    #back-detail{
        position: absolute;
        top: 0%;
        left: 0%;
    }
    #flag-detail{
        width: 80%;
        left: 10%;
    }

    .div-activity{
        width: 40%;
        display: inline-block;
        margin: 1%;
        position: relative;
        top: 1%;
        left: 10%;

    }
}