.entire-input{
    background-image: url('https://fondosmil.com/fondo/456.jpg');
    height: 100%;
    width: 100%;
    position: absolute;

}

.form-add{
    position: relative;
    left: 25%;
    background-color: rgb(255, 255, 255);
    width: 100vh;
    height: 400px;
    border-radius: 15px;
}

.div-input{
    display: block;
    margin: 40px;   
}

.errors{
    color: red;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.country-inp{
    display: block;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.822);
    width: 500px;
    border-radius: 7px;
    text-align: center;
    position: relative;
    left: 30%;
}

#boton-inp{
    border-width: 0ch;
    background-color: rgba(0, 0, 0, 0.103);
    cursor: pointer;
}

#select-country{
    position: absolute;
    left: 40%;
    bottom: 45%;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

#select-season{
    position: absolute;
    left: 40%;
    bottom: 72%;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

#add-btn{
    position: absolute;
    bottom: 25%;
    left: 53%;
}

.selected-countries{
    background-color: azure;
}

#your{
    text-align: center;
    color: white;
}

#back-add{
    position: absolute;
    bottom: 80%;
    left: 10%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0ch;
    color: white;
}

.inputs-add{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border-width: 0.5px;
}

@media screen and (max-width: 480px){
    .div-input{
        display: block;
        margin: 30px;
    }
    .form-add{
        width: 70%;
        height: 70%;
        left: 15%;
    }
    #select-season{
        position: relative;
        top: 0%;
        left: 0%;
    }

    #select-country{
        position: relative;
        top: 0%;
        left: 0%;
    }

    #add-btn{
        position: relative;
        top: -1%;
        left: 10%;
    }
    #back-add{
        position: absolute;
        left: 0%;
        top: 0%;
    }
    .country-inp{
        width: 30%;
    }
}