.cardss{
    display: inline-block;
    margin: 30px;
    background-color: rgba(6, 28, 80, 0.37);
    border-radius: 10px;
    width: 300px;
}

.cardss:hover{
    transform: translateY(-5px);
    box-shadow:0 12px 16px rgba(172, 164, 164, 0.801);
}

#countryname{
    text-decoration: none;  
    
}

.flag{
    width: 200px;
    height: 100px;
    position: relative;
    left: 15%;
}

.titlulos-Country{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
}